{% extends 'mproduct/base.html' %}
{% block pagecontent %}
    <div class="container py-5">
        {% if plans %}
            <div class="row">
                {% for plan in plans %}
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <div class="card bg-body-secondary">
                            <div class="card-body">
                                <div class="fs-3 fw-bold my-3">{{ plan.name }}</div>
                                <div class="my-3">{{ plan.description }}</div>
                                <div class="row my-3">
                                    <div class="col-6 col-md-12 col-lg-6 fw-bold fs-2">${{ plan.price }}</div>
                                    <div class="col-6 col-md-12 col-lg-6 d-flex align-items-end">All prices are in USD.</div>
                                </div>
                                <div class="my-3">
                                    <form action="{% url 'mproduct:new_purchase' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="plan_id" value="{{ plan.id }}">
                                        <input type="submit" value="Subscribe" class="btn btn-dark form-control">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div>no data</div>
        {% endif %}
    </div>
{% endblock %}
